@import './varibles.scss';

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  min-height: $line * 6;
  display: flex;
  justify-content: space-between;
  align-self: center;
  background: {
    color: $main;
  }
  color: $font;

  .phone-number {
    min-width: 15%;
    font: {
      family: $openSans;
      size: 1.1em;
      weight: bold;
    }
    padding: $line * 1.5 0;
    text-align: center;
    background: {
      color: $secondaryDark;
    }
  }

  .main-menu {
    @include noScroll;
    overflow-x: scroll;
    align-self: center;
    display: flex;
    min-height: $line * 6;
    justify-content: space-between;
    flex-wrap: nowrap;

    .menu-item {
      min-width: 15%;
      padding: $line;
      box-shadow: $line / 2 0 $line * .3 $line * - .3 $font;
      font: {
        family: $helvetica;
        size: 1.1em;
      }
      text-align: center;
      cursor: pointer;
      @include hover;
    }
  }
}